<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.title %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/category') %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
  <div style="text-align:center;margin-top:5em">
  <a rel="license" href="http://creativecommons.org/licenses/<%= theme.cc_license.name %>/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/<%= theme.cc_license.name %>/4.0/88x31.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/<%= theme.cc_license.name %>/4.0/"><%= theme.cc_license.name_trans %></a>进行许可。
  </div>
</article>
<%- partial('_partial/comments') %>
